.heroRoot {
  /* --- LA MAGIA DEL PARALLAX --- */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* --- Estilos Generales --- */
  min-height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContent {
  text-align: center;
  /* Cambio: Usamos el texto claro de nuestra paleta */
  color: var(--text-claro); 
  /* La sombra negra sigue funcionando bien aquí */
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.heroContent h1 {
  font-size: 4rem;
  font-weight: bold;
}

.heroContent p {
  font-size: 1.5rem;
}